{% extends 'frontbase.html.twig' %}

{% block title %}Siparişlerim{% endblock %}
{% block sidebar %} {% include ('home/usersidebar.html.twig') %} {% endblock %}
{% block content %}

    <div class="col-sm-9 padding-right">
<div class="span9">
    <ul class="breadcrumb">
        <li><a href="{{ path('home') }}">Anasayfa</a> <span class="divider">/</span></li>
        <li><a href="#">Orders</a> <span class="divider">/</span></li>
        <li class="active">Order Detail</li>
    </ul>
</div>
<div class="row">

    <div class="span9">

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Amount</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Phone</th>
                <th>Shipinfo</th>
                <th>Status</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.userid }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shipinfo }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.note }}</td>
                <td>
                    <a href="{{ path('orders_show', {'id': order.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



    </div>
</div>

    </div> </div> </div> </div>
{% endblock %}
