{% extends 'frontbase.html.twig' %}

{% block title %}Siparişlerim{% endblock %}
{% block sidebar %} {% include ('home/usersidebar.html.twig') %} {% endblock %}
{% block content %}

<div class="col-sm-9 padding-right">
    <div class="span9">
        <ul class="breadcrumb">
            <li><a href="{{ path('home') }}">Anasayfa</a> <span class="divider">/</span></li>
            <li><a href="#">Orders</a> <span class="divider">/</span></li>
            <li class="active">Order Detail</li>
        </ul>
    </div>
    <div class="row">

        <div class="span9">
            <table class="table">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ order.id }}</td>
                </tr>
                <tr>
                    <th>Userid</th>
                    <td>{{ order.userid }}</td>
                </tr>
                <tr>
                    <th>Amount</th>
                    <td>{{ order.amount }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ order.name }}</td>
                </tr>
                <tr>
                    <th>Address</th>
                    <td>{{ order.address }}</td>
                </tr>
                <tr>
                    <th>City</th>
                    <td>{{ order.city }}</td>
                </tr>
                <tr>
                    <th>Phone</th>
                    <td>{{ order.phone }}</td>
                </tr>
                <tr>
                    <th>Shipinfo</th>
                    <td>{{ order.shipinfo }}</td>
                </tr>
                <tr>
                    <th>Status</th>
                    <td>{{ order.status }}</td>
                </tr>
                <tr>
                    <th>Note</th>
                    <td>{{ order.note }}</td>
                </tr>
                </tbody>
            </table>


            <br>
            <br>

            <table class="table">
                <thead>
                <tr>
                    <th>Id</th>
                    <th>Orderid</th>
                    <th>Userid</th>
                    <th>Productid</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Amount</th>
                    <th>Name</th>
                    <th>Status</th>

                </tr>
                </thead>
                <tbody>
                {% set total=0 %}
                {% for rs in orderdetail %}
                    <tr>
                        <td>{{ rs.id }}</td>
                        <td>{{ rs.orderid }}</td>
                        <td>{{ rs.userid }}</td>
                        <td>{{ rs.productid }}</td>
                        <td>{{ rs.price }}</td>
                        <td>{{ rs.quantity }}</td>
                        <td>{{ rs.amount }}</td>
                        <td>{{ rs.name }}</td>
                        <td>{{ rs.status }}</td>
                        <td>


                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="10">Order Detail</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="10">Toplam Alışveriş Tutatı :{{ order.amount }} TL</td>
                </tr>
                </tbody>
            </table>
            <a href="{{ path('orders_index') }}">back to list</a>

            <a href="{{ path('orders_edit', {'id': order.id}) }}">edit</a>

            {{ include('orders/_delete_form.html.twig') }}
            <br> <br> <br>
        </div>
    </div>
</div> </div> </div> </div>



{% endblock %}


