{% extends 'adminbase.html.twig' %}

{% block title %}sipariş Listesi{% endblock %}

{% block content %}
    <div class="main-panel">
        <div class="content-wrapper">


            <div class="col-lg-10 stretch-card">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">sipariş Listesi</h4>
                        <p class="card-description">

                        </p>
                        <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Userid</th>
                <th>Amount</th>
                <th>Name</th>
                <th>Address</th>
                <th>City</th>
                <th>Phone</th>
                <th>Shipinfo</th>
                <th>Status</th>
                <th>Note</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.userid }}</td>
                <td>{{ order.amount }}</td>
                <td>{{ order.name }}</td>
                <td>{{ order.address }}</td>
                <td>{{ order.city }}</td>
                <td>{{ order.phone }}</td>
                <td>{{ order.shipinfo }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.note }}</td>
                <td>
                    <a href="{{ path('admin_orders_show', {'id': order.id}) }}" class="btn-gradient-success">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>



                    </div>
                </div>
            </div>
        </div>



        {% endblock %}
