{% extends 'adminbase.html.twig' %}

{% block title %}Product Listesi{% endblock %}

{% block content %}
<div class="main-panel">
    <div class="content-wrapper">


        <div class="col-lg-25 stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Product Listesi</h4>

    <table class="table" width="50">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Keywords</th>
                <th>Description</th>
                <th>Amount</th>
                <th>Sprice</th>
                <th>Image</th>
                <th>Galery</th>
                <th>Category_id</th>
                <th>Status</th>
                <th>göster</th>
                <th>düzenle</th>
                <th>sil</th>
            </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
                <td>{{ product.title }}</td>
                <td>{{ product.keywords }}</td>
                <td>{{ product.description }}</td>
                <td>{{ product.amount }}</td>
                <td>{{ product.sprice }}</td>



                <td>
                    <a href="javascript:openWin('{{ path('admin_product_iedit', {'id': product.id  }) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=900,height=700');">
                    {% if  product.image==null %}
                        <img src="{{ url('admin') }}/images/indir.png" height="32">

                    {% else %}
                        <img src="{{ asset('uploads') }}/images/{{ product.image }}" >
                        {% endif %}
                    </a>
                </td>

                <td>
                    <a href="javascript:openWin('{{ path('admin_image_new', {'pid': product.id}) }}','','toolbar=no,location=no,directories=0,status=no,top=100,left=200,menuBar=no,scrollBars=no,resizable=no,width=900,height=700');">

                        <img src="{{ url('admin') }}/images/galeri.png" height="32"></a>
                </td>
                <td>{{ product.categoryId }}</td>
                <td>{{ product.status }}</td>
                <td>
                    <a href="{{ path('admin_product_show', {'id': product.id}) }}"  class="btn btn-gradient-primary btn-sm ">Göster</a></td>

                <td>  <a href="{{ path('admin_product_edit', {'id': product.id}) }}"class="btn btn-gradient-danger btn-sm">Düzenle</a></td>
                <td>{{ include('admin/product/_delete_form.html.twig') }}</td>

            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

                    <a href="{{ path('admin_product_new') }}"class="btn btn-gradient-danger btn-fw">Create new</a>

                </div>
            </div>
        </div>
    </div>



    {% endblock %}

