<div class="container">
<div class="shopper-informations">
    <div class="row">
        <div class="col-sm-3">
            <div class="shopper-info">

                <form>
                    <ul id="sideManu" class="nav nav-tabs nav-stacked">
                    <li><a href="{{ path('userpanel') }}"><h6>Bilgilerim</h6></a></li>
                    <li><a href="{{ path('userpanel_edit') }}"><h6>Düzenle</h6></a></li>
                    <li><a href="{{ path('orders_index') }}"><h6>Siparişlerim</h6></a></li>
                    <li><a href="{{ path('shopcart_index') }}"><h6>Sepetim</h6></a></li>
                    <li><a href="{{ path('orders_index') }}"><h6>Sipariş Geçmişi</h6></a></li>
                    <li><a href="{{ path('app_logout') }}"><h6>Çıkış</h6></a></li>
                    </ul>
                </form>

            </div>
        </div>


