{% extends 'frontbase.html.twig' %}


{% block title %} Login {% endblock %}

{% block sidebar %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

        {{    include ('home/usersidebar.html.twig')  }}

    {% endif %}
{% endblock %}

{% block content %}

    <div  class="row-fluid" >
        <div class="span9" align="center"><br>

            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <font face="Times New Roman" size="6" color="#778899">Hoşgeldiniz {{ app.user.name }} </font>
                {% if  app.user.roles|join=='ROLE_ADMIN'  %}
                    <br><br><a href="{{ path('admin') }}" role="button" data-toggle="modal" style="padding-right:0"><span class="btn btn-large btn-success">ADMIN LOGİN</span></a>
                {% endif %}

            {% else %}

            <section id="form"><!--form-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4 col-sm-offset-1">
                            <div class="login-form"><!--login form-->
                                <h2>Login to your account</h2>
                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}
                                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required autofocus>
                                    <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

                                    <input type="hidden" name="_csrf_token"
                                           value="{{ csrf_token('authenticate') }}"
                                    >
                                    <span>
								<input type="checkbox" class="checkbox">
								Keep me signed in
							</span>
                                    <button type="submit" class="btn btn-default">Login</button>
                                </form>
                            </div><!--/login form-->
                        </div>
                        <div class="col-sm-1">
                            <h2 class="or">OR</h2>
                        </div>
                        <div class="col-sm-4">
                            <div class="signup-form"><!--sign up form-->
                                <h2>New User Signup!</h2>
                              <a href="{{ path('new_user') }}"><button class="btn btn-danger"> Register</button> </a>
                            </div><!--/sign up form-->
                        </div>
                    </div>
                </div>
            </section>
            {% endif %}
            </p>
            <div class="row"></div>


        </div>
    </div>
    </div> </div> </div>

{% endblock %}