{% extends 'adminbase.html.twig' %}

{% block title %}Üye Düzenleme {% endblock %}

{% block content %}

<div class="main-panel">
    <div class="card-header"><h3>ÜYE DÜZENLEME</h3></div>
    <div class="card-body card-block">

        <form action="#" method="post" class="form-horizontal">
            Username:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-user"></i></div>
                    <input type="text" id="username" name="user[name]"  value="{{ user.name }}" placeholder="Username" class="form-control">
                </div>
            </div>
            Email:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-envelope"></i></div>
                    <input type="email" id="email" name="user[email]"   value="{{ user.email }}" placeholder="Email" class="form-control">
                </div>
            </div>
            Password:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="password" id="password" name="user[password]"  value="{{ user.password }}" placeholder="Password" class="form-control">
                </div>
            </div>
            Address:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="address" id="address" name="user[address]" value="{{ user.address }}" placeholder="address" class="form-control">
                </div>
            </div>
            Phone:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="phone" id="phone" name="user[phone]" value="{{ user.phone }}" placeholder="phone" class="form-control">
                </div>
            </div>
            City:
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                    <input type="city" id="city" name="user[city]" value="{{ user.city }}" placeholder="city" class="form-control">
                </div>
            </div>


            <div class="row form-group">
                <div class="col col-md-1"><label for="selectSm" class=" form-control-label">Roles</label></div>
                <div class="col-12 col-md-5">
                    <select name="user[roles]" id="selectSm"  class="form-control-sm form-control">

                        {% for item in user.roles %}
                            <option selected>{{ item }}</option>
                        {% endfor %}
                        <option value="ROLE_ADMIN">ROLE_ADMIN</option>
                        <option value="ROLE_USER">ROLE_USER</option>

                    </select>
                </div>
            </div>


            <div class="row form-group">
                <div class="col col-md-1"><label for="selectSm" class=" form-control-label">Status</label></div>
                <div class="col-12 col-md-5">
                    <select name="user[status]" id="selectSm" class="form-control-sm form-control">
                        <option value="0">{{ user.status }}</option>
                        <option value="True">TRUE</option>
                        <option value="False">FALSE</option>


                    </select>
                </div>
            </div>


            <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>

        </form>

    </div>

{% endblock %}
























