

<form action="" method="post" class="form-horizontal">

    <div class="card-body">

        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active show" id="tab1" data-toggle="tab" href="#genel" role="tab" aria-controls="genel" aria-selected="true">Genel Bilgiler</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab2" data-toggle="tab" href="#email" role="tab" aria-controls="email" aria-selected="false">Email Server</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab3" data-toggle="tab" href="#hakkımızda" role="tab" aria-controls="hakkımızda" aria-selected="false">Hakkımızda</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab4" data-toggle="tab" href="#iletişim" role="tab" aria-controls="iletişim" aria-selected="false">İletişim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="tab5" data-toggle="tab" href="#referans" role="tab" aria-controls="referans" aria-selected="false">Referans</a>
            </li>


        </ul>
        <div class="tab-content pl-3 p-1" id="myTabContent">
            <div class="tab-pane fade active show" id="genel" role="tabpanel" aria-labelledby="genel-tab">
                <div class="form-group">

                </div>
                Title:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>

                        <input type="text" name="setting[title]"   value="{{ setting.title }}" placeholder="Title" class="form-control">
                    </div>
                </div>

                Description:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-envelope"></i></div>

                        <input type="text" name="setting[description]"   value="{{ setting.description }}" placeholder="description" class="form-control">
                    </div>
                </div>
                Keywords:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text"  name="setting[keywords]"  value="{{ setting.keywords }}" placeholder="keywords" class="form-control">
                    </div>
                </div>
                Company:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[company]"  value="{{ setting.company }}" placeholder="company" class="form-control">
                    </div>


                </div>
                Adress:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[address]"  value="{{ setting.address }}" placeholder="address" class="form-control">
                    </div>


                </div>
                Status:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[status]"  value="{{ setting.status }}" placeholder="status" class="form-control">
                    </div>
                </div>

            </div>
            <div class="tab-pane fade" id="email" role="tabpanel" aria-labelledby="email-tab">
                Email Server:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[smtpserver]"  value="{{ setting.smtpserver }}" placeholder="smtpserver" class="form-control">
                    </div>
                </div>
                Email:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[smtpemail]"  value="{{ setting.smtpemail }}" placeholder="smtpemail" class="form-control">
                    </div>
                </div>
                Email Password:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[smptppass]"  value="{{ setting.smptppass }}" placeholder="smptppass" class="form-control">
                    </div>
                </div>
                SMPT port:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[smtpport]"  value="{{ setting.smtpport }}" placeholder="smtpport" class="form-control">
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="hakkımızda" role="tabpanel" aria-labelledby="hakkımızda-tab">
                <div class="form-group">
                    <div class="input-group">
                        <textarea name="setting[aboutus]" id="editor">{{ setting.aboutus }}</textarea>
                    </div>


                </div>
            </div>
            <div class="tab-pane fade" id="iletişim" role="tabpanel" aria-labelledby="iletişim-tab">
                Fax:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[fax]"  value="{{ setting.fax }}" placeholder="fax" class="form-control">
                    </div>


                </div>

                Phone:
                <div class="form-group">
                    <div class="input-group">

                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>
                        <input type="text" name="setting[phone]"  value="{{ setting.phone }}" placeholder="phone" class="form-control">
                    </div>


                </div>
                Email:
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-asterisk"></i></div>

                        <textarea name="setting[email]" rows="1" cols="50"  id="editor">{{ setting.email }}</textarea>

                    </div>


                </div>
                Contact:
                <div class="form-group">
                    <div class="input-group">

                        <textarea name="setting[contact]" id="conc">{{ setting.contact }}</textarea>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="referans" role="tabpanel" aria-labelledby="referans-tab">
                <div class="form-group">
                    <div class="input-group">

                        <textarea name="setting[referances]" rows="50" cols="100" id="refe">{{ setting.referances }}</textarea>
                    </div>
                </div>


            </div>
            <div class="form-actions form-group"><button type="submit" class="btn btn-success btn-sm">Submit</button></div>
        </div>

    </div>
</form>

<script>
    ClassicEditor
        .create( document.querySelector( '#editor' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#refe' ) )
        .catch( error => {
            console.error( error );
        } );
</script>
<script>
    ClassicEditor
        .create( document.querySelector( '#conc' ) )
        .catch( error => {
            console.error( error );
        } );
</script>